body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00b6f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  background-color: white;
  width: 100%;
  text-align: center;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  color: #00b6f1;
}

nav:active {
  color: gray;
}

.container {
  align-content: center;
  background-color: #1da1f2;
  text-align: center;
  color: white;
  padding-top: 25px;
}

.card-title {
  text-align: left;
  padding-left: 150px;
}

.card-footer {
  background-color: black;
  color: white;
  max-height: 115px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  margin-bottom: 0px;
  padding-top: 6px;
  margin-top: 30px;
}

.btn {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #00b6f1;
  font-size: 40px;
  color: white;

  width: 10em;
  border-color: white;
}

.btn1 {
  background-color: #1da1f2;
  color: white;
  width: 100px;
  height: 35px;
  padding-top: 5px;
}

.btn2 {
  height: 60px;
  width: 200px;
  background-color: white;
  color: #1da1f2;
  font-size: 18px;
  font-weight: bold;
}

.btn3 {
  height: 60px;
  width: 200px;
  background-color: white;
  color: #1da1f2;
  font-size: 18px;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.btn:hover {
  color: #00b6f1;
  background-color: white;
}

.form-control {
  height: 60px;
}

.row {
  display: flex;
  margin-top: 40px;
  margin-bottom: 130px;
}

.figure-caption {
  padding-top: 10px;
  color: white;
  font-size: 22px;
}

.card {
  color: #000;
  font-size: 15px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 1em;
  width: 100%;
}

.cardBottom {
  padding: 5px;
}

.row {
  margin-bottom: 0px;
}

.container {
  align-content: center;
  background-color: #00b6f1;
  margin-bottom: 20px;
}

#dropDownNumbers {
  text-indent: 40%;
  padding-left: 250px;
}

.collapse {
  margin-bottom: 20px;
}

.form-inline {
  margin-top: 120px;
  margin-left: 31.5%;
  margin-right: auto;
  text-align: center;
}

a {
  white-space: nowrap;
}

.container3 {
  height: 300px;
  background-color: #00b6f1;
}

.profile-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 25%;
}

.card-header {
  margin-bottom: 40px;
}

.spacer {
  height: 50vh;
}

.randomTweetWrapper {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
